{% extends 'base.html.twig' %}

{% block title %}Mes adresses - Au Coin du Feu{% endblock %}

{% block content %}

    <br>
    <a href="{{ path('account_adress_add') }}" class="btn btn-info btn-sm float-right">Ajouter une adresse</a>
    <h3>Mes adresses</h3>
    Bienvenue {{ app.user.firstname }}.
    <br>
    C'est dans cet espace que vous pouvez gérer toutes vos adresses.
    <hr>
    <a href="{{ path('account') }}">Retour</a>
    <hr>
        {% if app.user.adresses|length == 0 %}
        <p class="text-center">Vous n'avez pas encore ajouté d'adresse dans votre compte client.
        <br>
        Pour en ajouter une, cliquez <a href="{{ path('account_adress_add') }}">ici</a> ou sur le bouton "Ajouter une adresse".
        </p>
        {% else %}
            <div class="row">
            {% for adress in app.user.adresses %}
                <div class="col-md-4">
                    <div class="card text-center" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ adress.name }}</h5>
                            <p class="card-text">
                                {{ adress.adress }}
                                <br>
                                {{ adress.zipcode }} - {{ adress.city }} - {{ adress.country }}
                            </p>
                            <a href="{{ path('account_adress_edit', { 'id' : adress.id }) }}">Modifier</a> | <a href="{{ path('account_adress_delete', { 'id' : adress.id }) }}">Supprimer</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% endif %}

{% endblock %}